


<%- include('./partials/head') %>
<!-- Page content -->

<div class="w3-content" style="max-width:1532px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Apartamentos</h3>
    <p>Siéntete como en casa es nuestro lema. Ofrecemos las mejores camas de la industria. Duerme bien y descansa bien.</p>
  </div>
  <!-- action="/apartment/search" -->
  <div class="w3-row-padding" >
    <div class="w3-col m2">
      <label>Provincia</label>
      <select id="province" name="province" class=" w3-input w3-border" onchange="cargarCiudades()">
        <option selected>Seleccione una provincia</option>
        <option value="Madrid">Madrid</option>
        <option value="Barcelona">Barcelona</option>
        <option value="Valencia">Valencia</option>                 
        <!-- Agrega más provincias según sea necesario -->
      </select>
    </div>
    <div class="w3-col m2">
      <label>Ciudad</label>
      <select name="ciudad" id="ciudad" class=" w3-input w3-border" onchange="mostrarGPS()">
        <option selected>Seleccione una ciudad</option>
        <!-- Las opciones de ciudades se cargarán dinámicamente -->
      </select>    
    </div>   
    <div class="w3-col m1">
      <label>Habitaciones</label>
      <input class="w3-input w3-border" name="hab" id="hab" type="number" placeholder="1">
    </div>
    <div class="w3-col m1">
      <label>Personas</label>
      <input class="w3-input w3-border" name="people" id="people" type="number" placeholder="1">
    </div>
    <div class="w3-col m2">
      <label> Precio €</label>
      <select id="precio" name="precio" class="w3-input w3-border" >       
        <option selected>Seleccione un precio</option>
        <option value="0_50">Hasta de 50€</option>
        <option value="51_100">51€ a 100€</option>
        <option value="101_200">101€ a 200€</option>                 
        <option value="201_300">201€ a 300€</option>         
        <option value="301_1000000">Mas de 300€ </option>                 
        <!-- Agrega más provincias según sea necesario -->
      </select>
    </div>
    <div class="w3-col m1">
      <label><i class="fa fa-search"></i> </label>
      <input type="button" id="btnsearch" class="w3-button w3-block w3-black" value="Filtrar">      
    </div>
    <div class="w3-col m1">
      <label><i class="fa fa-search"></i> </label>
      <input type="button" id="btnlimpiar" class="w3-button w3-block w3-black" value="Limpiar">      
    </div>
  </div>

  <div class="col-12 col-md-12 col-xs-6 mt-2"  id="ContainerPhoto"> 
   
    
      <% if (isAdmin) { %>
            <!--aqui el for-->
      <% for (const ap of apartments) { %>
        <div class="w3-third w3-margin-bottom ">
          <img src="<%= ap.mainPhoto %>" alt="Norway" style="width:100%; height: 350px;  ">
          <div class="w3-container w3-white">
            <h3><%= ap.title %></h3>
            <h5><%= ap.location.province %></h5>
            <h6>Ciudad: <%= ap.location.city %></h6>
            <h6>Ubicacion: <%= ap.location.street %></h6>
            <h6 class="w3-opacity">Desde <%= ap.price %> € por noche</h6>          
            <p>m<sup>2</sup>  <%= ap.size %></p>
            <p class="w3-large"> 
              <% if (ap.services.wifi === true) { %>
                <span class="material-symbols-outlined">
                  wifi
                  </span>
              <% } %>
              <% if (ap.services.tv === true) { %>
                <span class="material-symbols-outlined">
                  tv
                  </span>
              <% } %>
              <% if (ap.services.airConditioner === true) { %>
                <span class="material-symbols-outlined">
                  mode_fan
                  </span>
              <% } %>
              <% if (ap.services.kitchen === true) { %>
                <span class="material-symbols-outlined">
                  kitchen
                  </span>
              <% } %>
              <% if (ap.services.disability === true) { %>
                <span class="material-symbols-outlined">
                  blind
                  </span>
              <% } %>
              <% if (ap.services.heater === true) { %>
                <span class="material-symbols-outlined">
                  heat
                  </span>
              <% } %>
              <% if (ap.services.parking === true) { %>
                <span class="material-symbols-outlined">
                  local_parking
                  </span>
              <% } %>
              <% if (ap.services.pet === true) { %>
                <span class="material-symbols-outlined">
                  pets
                  </span>
              <% } %>
            </p>
            <a class="w3-button  w3-black w3-margin-bottom" href="/apartment/<%= ap._id %>">Ver Detalle</a>
            <a class="w3-button  w3-black w3-margin-bottom" href="/apartment/<%= ap._id %>/edit">Editar Apartamento</a>
            <% if (ap.estado==1) { %>
              <a class="w3-button  w3-red w3-margin-bottom" href="/apartment/<%= ap._id %>/estado">Deshabilitar </a>
            <% } else { %>
              <a class="w3-button  w3-red w3-margin-bottom" href="/apartment/<%= ap._id %>/estado">Habilitar </a>
            <% } %>
          </div>
        </div>
        <% } %>
        <!--hasta aqui-->
        <% } else { %>
          <!--aqui el for1-->
          <% for (const ap of apartments) { %>
            <div class="w3-third w3-margin-bottom">
          <img src="<%= ap.mainPhoto %>" alt="Norway" style="width:100%; height: 350px;  ">
          <div class="w3-container w3-white">
            <h3><%= ap.title %></h3>
            <h5><%= ap.location.province %></h5>
            <h6>Ciudad: <%= ap.location.city %></h6>
            <h6>Ubicacion: <%= ap.location.street %></h6>
            <h6 class="w3-opacity"><%= ap.price %> € por noche</h6>          
            <p>m<sup>2</sup>  <%= ap.size %></p>
            <p class="w3-large"> 
              <% if (ap.services.wifi === true) { %>
                <span class="material-symbols-outlined">
                  wifi
                  </span>
              <% } %>
              <% if (ap.services.tv === true) { %>
                <span class="material-symbols-outlined">
                  tv
                  </span>
              <% } %>
              <% if (ap.services.airConditioner === true) { %>
                <span class="material-symbols-outlined">
                  mode_fan
                  </span>
              <% } %>
              <% if (ap.services.kitchen === true) { %>
                <span class="material-symbols-outlined">
                  kitchen
                  </span>
              <% } %>
              <% if (ap.services.disability === true) { %>
                <span class="material-symbols-outlined">
                  blind
                  </span>
              <% } %>
              <% if (ap.services.heater === true) { %>
                <span class="material-symbols-outlined">
                  heat
                  </span>
              <% } %>
              <% if (ap.services.parking === true) { %>
                <span class="material-symbols-outlined">
                  local_parking
                  </span>
              <% } %>
              <% if (ap.services.pet === true) { %>
                <span class="material-symbols-outlined">
                  pets
                  </span>
              <% } %>
            </p>
           
            <a class="w3-button  w3-black w3-margin-bottom" href="/apartment/<%= ap._id %>">Ver Detalle</a>
            <a class="w3-button w3-black w3-margin-bottom" href="<%= ap._id %>">Resevar Apartamento</a>
     
          </div>
            </div>
          <% } %>
          <!--hasta aqui-->
        <% } %>
  </div>

  <div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
      <h3>Sobre Barcelona</h3>
      <h6 >Barcelona es una de las ciudades más vibrantes y atractivas de Europa, ideal para turistas que buscan una mezcla de cultura, historia, arquitectura y entretenimiento. Aquí tienes un resumen de lo que no te puedes perder:
        
        Sagrada Familia: Este icónico templo diseñado por Antoni Gaudí es una visita obligada. Aunque aún está en construcción, su majestuosidad y detalle impresionan a todos.
        Parque Güell: Un colorido parque diseñado también por Gaudí, con vistas panorámicas de la ciudad.
        Casa Batlló y Casa Milà (La Pedrera): Dos de las obras más famosas de Gaudí, situadas en el elegante Paseo de Gracia.
        Historia y Cultura:
        
        
        
        <p>Aceptamos: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    </div>
    <div class="w3-col l8 12">
      <!-- Image of location/map -->
      <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2023/02/16/16765451516678.jpg" class="w3-image w3-greyscale" style="width:100%;">
    </div>
  </div>

  
  


  <div class="w3-container" id="contact">
    <h2>Contacto</h2>
    <p>Si tiene alguna pregunta de nuestros servicios escribanos.</p>
    <i class="fa fa-map-marker w3-text-red" style="width:30px"></i> Barcelona, Spain<br>
    <i class="fa fa-phone w3-text-red" style="width:30px"></i> Phone: +34 1365478<br>
    <i class="fa fa-envelope w3-text-red" style="width:30px"> </i> Email: tribookservice@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Nombre" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Mensaje" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">Enviar Mensaje</button></p>
    </form>
  </div>

<!-- End page content -->
</div>

<script>
   btnsearch = document.querySelector('#btnlimpiar');
   btnsearch.addEventListener('click',()=>{
    location.reload();
   
    
   });
  btnsearch = document.querySelector('#btnsearch');
  btnsearch.addEventListener('click',()=>{
    ContainerPhoto = document.querySelector('#ContainerPhoto');
    const data= {
    province: document.querySelector('#province').value,
    ciudad:document.querySelector('#ciudad').value,
    hab:document.querySelector('#hab').value,
    people:document.querySelector('#people').value,
    precio:document.querySelector('#precio').value
    };   
    fetch('/apartment/search', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },   
    body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => { 
      ContainerPhoto.innerHTML='';
      if (data.length==0)
      {
        
        const h3 = document.createElement('h3');
        h3.textContent = 'NO SE ENCONTRO APARTAMENTOS CON LOS FILTROS REQUERIDOS';
        ContainerPhoto.appendChild(h3);
        h3.classList.add('centrar');
      }     
      else
      {
        const container = ContainerPhoto;
        container.innerHTML = ''; // Limpiar el contenedor antes de agregar nuevos datos

            data.forEach(ap => {
            // Crear un contenedor para cada apartamento
            const apartmentDiv = document.createElement('div');
            apartmentDiv.className = 'w3-third w3-margin-bottom';

            // Crear la imagen
            const img = document.createElement('img');
            img.src = ap.mainPhoto;
            img.alt = 'Apartment Image';
            img.style.width = '100%';
            img.style.height = '350px';

            // Crear el contenido del apartamento
            const contentDiv = document.createElement('div');
            contentDiv.className = 'w3-container w3-white';

            // Crear los elementos HTML del contenido
            contentDiv.innerHTML = `
                <h3>${ap.title}</h3>
                <h5>${ap.location.province}</h5>
                <h6>Ciudad: ${ap.location.city}</h6>
                <h6>Coordenadas GPS: ${ap.location.gps}</h6>
                <h6 class="w3-opacity"> ${ap.price} € por noche</h6>
                <p>m<sup>2</sup> ${ap.size}</p>
                <p class="w3-large">
                    ${ap.services.wifi ? '<span class="material-symbols-outlined">wifi</span>' : ''}
                    ${ap.services.tv ? '<span class="material-symbols-outlined">tv</span>' : ''}
                    ${ap.services.airConditioner ? '<span class="material-symbols-outlined">mode_fan</span>' : ''}
                    ${ap.services.kitchen ? '<span class="material-symbols-outlined">kitchen</span>' : ''}
                    ${ap.services.disability ? '<span class="material-symbols-outlined">blind</span>' : ''}
                    ${ap.services.heater ? '<span class="material-symbols-outlined">heat</span>' : ''}
                    ${ap.services.parking ? '<span class="material-symbols-outlined">local_parking</span>' : ''}
                    ${ap.services.pet ? '<span class="material-symbols-outlined">pets</span>' : ''}
                </p>
            `;

            // Crear los botones
             let buttons = '';
            // if (data.isAdmin) {
            //     buttons += `
            //         <a class="w3-button w3-black w3-margin-bottom" href="/apartment/${ap._id}">Ver Detalle</a>
            //         <a class="w3-button w3-black w3-margin-bottom" href="/apartment/${ap._id}/edit">Editar Apartamento</a>
            //         ${ap.estado == 1 ? `<a class="w3-button w3-red w3-margin-bottom" href="/apartment/${ap._id}/estado">Deshabilitar</a>` : 
            //         `<a class="w3-button w3-red w3-margin-bottom" href="/apartment/${ap._id}/estado">Habilitar</a>`}
            //     `;
            // } else {
            //     buttons += `
            //         <a class="w3-button w3-black w3-margin-bottom" href="/apartment/${ap._id}">Ver Detalle</a>
            //         <a class="w3-button w3-black w3-margin-bottom" href="/apartment/${ap._id}">Reservar Apartamento</a>
            //     `;
            // }
            contentDiv.innerHTML += buttons;

            // Append image and content to apartmentDiv
            apartmentDiv.appendChild(img);
            apartmentDiv.appendChild(contentDiv);

            // Append apartmentDiv to container
            container.appendChild(apartmentDiv);
        });

        }
      
     
    })
    .catch((error) => {
        console.error('Error:', error);
  });
});


  const data = {
    Madrid: [
        {nombre: 'Madrid'},
        {nombre: 'Alcalá de Henares'},
    ],
    Barcelona: [
        {nombre: 'Barcelona'},
        {nombre: 'Badalona'},
    ],
    Valencia: [
        {nombre: 'Valencia'},
        {nombre: 'Gandía'},
    ],
    // Agrega más provincias y ciudades según sea necesario
};
  function cargarCiudades() {
    const provinciaSelect = document.getElementById('province');
    const ciudadSelect = document.getElementById('ciudad');

    const provincia = provinciaSelect.value;

    // Limpiar el select de ciudades
    ciudadSelect.innerHTML = '<option selected>Seleccione una ciudad</option>';

    if (provincia && data[provincia]) {
        data[provincia].forEach(ciudad => {
            const option = document.createElement('option');
            option.value = ciudad.nombre;
            option.textContent = ciudad.nombre;
            ciudadSelect.appendChild(option);
           
        });
        
    }
}
  const gps = document.getElementById('gps');
gps.addEventListener('click',()=>{
    const city = document.getElementById('city');
    const textoSeleccionado =gps.options[gps.selectedIndex].textContent;
    city.value =textoSeleccionado ;
})



</script>