

  <%- include('./partials/head') %>
  <div class="" style="width: 90%; display: flex; margin: 0 auto;"> 
    <div class="left" style="width: 100%; " ><!-- foto izq--> 
      <div class="w3-container" id="apartment" style="text-align: center;"> <!-- fotos -->
        <h2 class="w3-text-black"><%= selectedApartment.title %></h2>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.mainPhoto %>" style="width:100%;margin-bottom:-6px;">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:50px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionmainPhoto %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo1 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:40px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto1 %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo2 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:40px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto2 %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo3 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:40px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto3 %></p>
          </div>
        </div>
      </div><!--fin foto-->
      <div class="w3-row-padding w3-section">
        <div class="w3-col s3">
          <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.mainPhoto %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
        </div>
        <div class="w3-col s3">
          <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo1 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
        </div>
        <div class="w3-col s3">
          <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo2 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
        </div>
        <div class="w3-col s3">
          <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo3 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
        </div>
    </div>  
    </div><!--aqui acaba foto-->
    
    <div class="right mt-5" style="width: 100%;  " >
        <div class="formReserva">
          <h5 class="w3-text-black">DATOS PARA LA RESERVA</h5>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electronico</label>
              <input type="email" name="emails" id="emails" class="form-control"  aria-describedby="emailHelp" placeholder="prueba@mail.com">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Nombre del Cliente</label>
              <input type="text" name="cliente" id="cliente" class="form-control" id="exampleInputPassword1" placeholder="">
            </div>  
            <div style="display: flex; gap: 1rem;">
            <div class="form-group col-4">
              <label for="exampleInputPassword1">Desde</label>
              <input type='date' name="datestart" id="datestart" class="form-control" placeholder="">
            </div> 
            <div class="form-group col-4">
              <label for="exampleInputPassword1">Hasta</label>
              <input type='date' class="form-control" name="dateend" id="dateend" placeholder="">
            </div> 
          </div>   
            <div class="mt-2" style="text-align: end;">
              <button type="button" id="sendForm" class="w3-button  w3-blue w3-margin-bottom">Registrar</button>
              <a href="/" class="w3-button  w3-black w3-margin-bottom">Cancelar</a>
            </div>   
            
          </form>
          <h5 id="mensaje"></h5>
          <h5>LISTA DE FECHAS EN RESERVAS </h5>
          <%  let j = 1; %>
          <% for (const date of formattedReservations) { %>
            <P class="ps-4 ts-2"><%= j %>: desde <%= date.startDate %> hasta <%= date.endDate %></P>
          <% j++} %>
            
        </div>
        
      </div>
    
  </div>

 <script>
  window.addEventListener('DOMContentLoaded', (evento) => {
    const today = new Date().toISOString().split("T")[0];
    document.getElementById("datestart").setAttribute("min", today);
    document.getElementById("dateend").setAttribute("min", today);    
   
  });
///


 
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}

btnsendForm = document.querySelector('#sendForm');
btnsendForm.addEventListener('click', ()=>{
  let mensaje=document.querySelector('#mensaje');
  mensaje.classList.remove('avisored');
  mensaje.classList.remove('avisogreen');
  mensaje.innerHTML='';
  let email = document.querySelector('#emails').value;
  let cliente = document.querySelector('#cliente').value;
  let datestart= document.querySelector('#datestart').value;
  let dateend= document.querySelector('#dateend').value;
  let id=("<%- selectedApartment._id %>");

  let data ={
    email,cliente,datestart,dateend,id
  }
  
  fetch('/apartment/reserve/apartment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
     if (data.type==0)
     {
      mensaje.classList.add('avisored');
      mensaje.innerHTML=data.message;      
     }
     else
     {
      mensaje.classList.add('avisogreen');
      mensaje.innerHTML=data.message;      
     }
    })
})
</script>


</body>
</html>