

  <%- include('./partials/head') %>
  <div class="" style="width: 100%; background: red; display: flex;"> 
    <div class="left" style="width: 40%;" ><!-- foto izq--> 
      <div class="w3-container" id="apartment"> <!-- fotos -->
        <h2 class="w3-text-green"><%= selectedApartment.title %></h2>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.mainPhoto %>" style="width:100%;margin-bottom:-6px;">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:50px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionmainPhoto %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo1 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:50px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto1 %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo2 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:50px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto2 %></p>
          </div>
        </div>
        <div class="w3-display-container mySlides">
          <img src="<%= selectedApartment.photo3 %>" style="width:100%;margin-bottom:-6px">
          <div class="d-flex align-items-center justify-content-center bg-dark text-white p-1" style="height:50px;">
            <p class="p-0 m-0"><%= selectedApartment.descriptionphoto3 %></p>
          </div>
        </div>
      </div>
        <div class="w3-row-padding w3-section">
          <div class="w3-col s3">
            <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.mainPhoto %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
          </div>
          <div class="w3-col s3">
            <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo1 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
          </div>
          <div class="w3-col s3">
            <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo2 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
          </div>
          <div class="w3-col s3">
            <img class="demo w3-opacity w3-hover-opacity-off" src="<%= selectedApartment.photo3 %>" style="height: 130px; width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
          </div>
        </div>    
      </div><!--aqui acaba foto-->
    </div><!--aqui acaba izq-->
    <div >
      sdfsd
    </div>
  </div>

 <script>
// Script to open and close sidebar when on tablets and phones
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Slideshow Apartment Images
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>


</body>
</html>